PORT=XXXX

# URL de la base de données
DB_URL=postgres://<username>:<password>@<host>:<port>/<database_name>

# Password Reset Token (durée en minutes)
RESET_TOKEN_EXPIRATION=XX

# Email - Gmail OAuth2
EMAIL_USER=
EMAIL_CLIENT_ID=
EMAIL_CLIENT_SECRET=
EMAIL_REFRESH_TOKEN=
EMAIL_FROM=
