  <footer class="footer">
    <div class="footer_content">
      <div class="footer_links">
<!--         <a href="/mentions-legales" class="footer_link">Mentions légales</a>
        <a href="/politique-confidentialite" class="footer_link">Politique de confidentialité</a> -->
        <a href="/credits" class="footer_link">Crédits et sources</a>
      </div>
      <div class="footer_contact">
        <a href="/contact" class="footer_contact_button">Nous contacter</a>
      </div>
    </div>
    <div class="footer_copyright">
      <p>© 2026 - Projet DWWM - BlaBlaBook</p>
    </div>
  </footer>

  <script src="/js/burger.js"></script>
  <script src="/js/filters.js" defer></script>
   <script src="/js/profil.js" defer></script>
  <script src="/js/accessibilityButton.js" defer></script>
  <script src="/js/login.js" defer></script>
</body>
</html>